
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dictionary App</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div id="Dictionary">
             
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        
                        <h1  class="heading">{{ appName }}</h1>
            
                        <div v-if="options.length===0 && selected==''" class="search">Total words you have searched: {{ numberOfSearch }}</div>

                        <div v-if="options.length===0 && selected==''" class="input-group mb-3">
                            <div class="input-group-prepend book" >
                                <span class="input-group-text" >
                                    <svg class="bi bi-book" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 018.5 2.5v11a.5.5 0 01-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 010 13.5v-11a.5.5 0 01.276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 01.22-.103 12.958 12.958 0 012.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 001 2.82z" clip-rule="evenodd"/>
                                    <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 007.5 2.5v11a.5.5 0 00.854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0016 13.5v-11a.5.5 0 00-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 00-.799-.34 12.96 12.96 0 00-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0115 2.82z" clip-rule="evenodd"/>
                                    </svg>
                                </span>
                            </div>
                            <input v-model="word" type="text" class="form-control " placeholder="Enter a word to search meaning" @keyup.enter="findWord">
                        </div>
                      
                        
                        <div v-if="options.length===0 && selected==''">
                            <img v-bind:src="imageLink.pic1" class="image1"/>
                        </div>
                      
                    
                         <div v-if="selected==''" v-show="options.length" class="list">
                            <div class="button"> Search Results : {{ options.length }}</div>
                            <div v-for="opt in options" class="list-group" >
                            <button type="button" class="btn btn-outline-dark btn-sm border-top border-right border-left decoration" v-on:Click="findMean(opt)">{{ opt }}</button>
                            </div>
                        </div>

                       
                        <div v-else class="result">
                            <h3 class="word "> {{selected}} :</h3>
                            <span v-show="final.mean.length">
                                <span v-for="mean in final.mean">
                                    <div class="mean"># {{ mean }}</div>
                                </span>
                            </span>
                            <div class=" display "  ><span class="decoration">Type:</span> {{ final.type }}</div>
                            <button class="btn btn-outline-dark btn-sm decoration " v-on:Click="findMore">Search Again</button>
                        </div>
                        
                    </div>
            
             
                    <div v-if="searchHistory.length!=0" class="col-lg-4 history" >
                        <history-component v-bind:search-history="searchHistory" v-bind:find-mean="findMean"></history-component>
                    </div>

                </div> 
            </div>
            
            <div class="image_position">Search Defination of Word hosted on <img v-bind:src="imageLink.pic" class="image"  /></div>
                    
        </div>
        
        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="app.js" type="text/javascript"></script>
                        
    </body>
</html>